---
import { Image } from "astro:assets";
import landmarkt from "@images/landmarkt.webp";
---

<section class="sliders">
    <div class="slider">
        <div class="text-group">
            <h2>Uit de buurt, voor de buurt!</h2>
        </div>
        <div class="text-group">
            <h2>Uit de buurt, voor de buurt!</h2>
        </div>
    </div>
    <div class="slider">
        <div class="image-group">
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
        </div>
        <div class="image-group">
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
            <Image
                src={landmarkt}
                alt="Slider Image 1"
                class="image"
                width={800}
                height={600}
            />
        </div>
    </div>
</section>

<style>
    .sliders {
        margin: 10vh 0;
    }

    .slider {
        margin: 50px auto;
        width: 100%;
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .text-group,
    .image-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-group {
        animation: slide-left 20s linear infinite;
        padding-right: 3rem;
    }

    .image-group {
        animation: slide-right 20s infinite linear;
        gap: 5vw;
        padding-right: 5vw;
    }

    .text-group h2 {
        text-wrap: nowrap;
        font-size: 18vw;
    }

    .image-group .image {
        width: 40vw;
        height: auto;
        border-radius: var(--border-radius-sm);
    }

    .image-group .image:nth-of-type(even) {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .image-group .image:nth-of-type(odd) {
        aspect-ratio: 1 / 1.3;
        object-fit: cover;
    }

    @keyframes slide-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @media screen and (min-width: 687px) {
        .sliders {
            margin: 15vh 0;
        }
        
        .slider {
            margin: 70px auto;
        }

        .image-group {
            gap: 3vw;
            padding-right: 3vw;
        }

        .image-group .image {
            width: 25vw;
        }

        .text-group h2 {
            font-size: clamp(64px, 8vw + 1rem, 8rem);
        }
    }

    @media screen and (min-width: 1024px) {
        .slider {
            margin: 100px auto;
        }

        .image-group .image {
            width: 20vw;
            border-radius: var(--border-radius-md);
        }

        .text-group {
            animation: slide-left 30s linear infinite;
            padding-right: 8rem;
        }

        .image-group {
            animation: slide-right 30s infinite linear;
            /* flex: 0 0 5em; */
            gap: 2vw;
            padding-right: 2vw;
        }
    }
</style>
